node_modules
dist
dev-dist
coverage
*.local
.DS_Store
npm-debug.log*
tsconfig.tsbuildinfo
*.tsbuildinfo

server/.venv
server/__pycache__

server/bin/
server/node_modules/
server/.env
bin/
server/bin/
